{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "dashboard/header.html" %}
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <h1>Attaques ARP</h1>
                <table id="attaque" class="display">
                    <thead>
                        <tr>
                            <th>source</th>
                            <th>type d'attaque</th>
                            <th>date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attack in attacks %}
                        <tr>
                            <td>{{ attack.source }}</td>
                            <td>{{ attack.type }}</td>
                            <td>{{ attack.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <h1>Flux ARP</h1>
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>src_ip</th>
                            <th>dst_ip</th>
                            <th>src_mac</th>
                            <th>dst_mac</th>
                            <th>date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for packet in packets %}
                        <tr>
                            <td>{{ packet.src_ip }}</td>
                            <td>{{ packet.dst_ip }}</td>
                            <td>{{ packet.src_mac }}</td>
                            <td>{{ packet.dst_mac }}</td>
                            <td>{{ packet.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta24/dist/js/tabler.min.js"></script>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
        $('#attaque').DataTable();
    } );
</script>
{% endblock %}
