{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "dashboard/header.html" %}

<br>

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <div class="accordion" id="accordion-example">
                    <!-- Accordion Item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                Durées de stockage des données
                            </button>
                        </h2>
                        <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                <div class="mb-3">
                                    <label class="form-label">Vous pouvez ici modifier la durée pendant laquelle les données sont stockées dans la base de données.<br> Entrez la valeur souhaitée ici (PRÉCISEZ UNITÉ)</label>
                                    <input type="text" class="form-control" name="storage-duration" placeholder="Entrez la durée ici" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion Item 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                Taux de rafraîchissement
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                <div class="mb-3">
                                    <label class="form-label">Vous pouvez ici modifier la durée entre deux nouvelles données.<br> Entrez la valeur souhaitée ici (PRÉCISEZ UNITÉ)</label>
                                    <input type="text" class="form-control" name="refresh-rate" placeholder="Entrez la durée ici" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accordion Item 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <!-- Accordion Item 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                Accordion Item #4
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                <strong>This is the fourth item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_scripts %}
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta24/dist/js/tabler.min.js"></script>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
{% endblock %}